li {
  background-color: #4c52ab;
  padding: 5px 9px;
  border: 0;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  height: 30px;
  color: #ffffff;
  width: 90%;
}
.icon {
  margin-left: 9px;
  color: red;
  cursor: pointer;
}
